@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

.errorField {
  animation: errorEntrance 0.2s ease 0s 1 normal forwards;
}

@keyframes errorEntrance {
  0% {
    transform: translateX(100px);
  }

  33% {
    transform: translateX(-80px);
  }

  66% {
    transform: translateX(40px);
  }

  100% {
    transform: translateX(0);
  }
}
